body {
    background-color: black;
    color: AntiqueWhite;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: SaddleBrown;
}

input[type="text"], textarea {
  background-color : AntiqueWhite;
}

button, input[type="button"]{
    background-color: SaddleBrown;
    color: AntiqueWhite;
    border: black;
    font-family: "Courier New", Courier, monospace;
    padding: 5px 10px 5px 10px;
}

img {
    display: block;
    margin: 0 auto;
}